.landpage {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
}
.landpage .land {
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.297);
  align-items: center;
  display: flex;
  justify-content: center;
}
.slogon {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Questrial", sans-serif;
  letter-spacing: 2px;
}
