.break {
  background-image: url(../../assets/bakcground-image.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80vh;
  width: 100%;
}
.break h1 {
  display: flex;
  position: relative;
  color: #fff;
  font-size: 3rem;
  align-items: center;
  justify-content: right;
  height: 100%;
  letter-spacing: 1rem;
  right: 80px;
}
.break:last-child {
  background-image: url(../../assets/backgroun-image2.jpg);
  background-size: cover;
}

.break:last-child h1 {
  color: #fff;
  font-size: 3rem;
  align-items: center;
  justify-content: right;
  height: 100%;
  letter-spacing: 1rem;
}
